<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestCases.APITest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkStatus</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkResponseBody</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>responseHeader</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkCompany</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>requestSetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
