<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74d26a">  <td>20/10/14 12:54:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;APITest.requestSetup()[pri:0, instance:TestCases.APITest@3ffc5af1]">&gt;&gt;requestSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/10/14 12:54:56</td>   <td>14198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITest.checkCompany()[pri:0, instance:TestCases.APITest@3ffc5af1]">checkCompany</td> 
  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/10/14 12:54:57</td>   <td>14901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITest.checkResponseBody()[pri:0, instance:TestCases.APITest@3ffc5af1]">checkResponseBody</td> 
  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/10/14 12:54:57</td>   <td>14948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITest.checkStatus()[pri:0, instance:TestCases.APITest@3ffc5af1]">checkStatus</td> 
  <td>main@1076496284</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>20/10/14 12:54:57</td>   <td>14954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APITest.responseHeader()[pri:0, instance:TestCases.APITest@3ffc5af1]">responseHeader</td> 
  <td>main@1076496284</td>   <td></td> </tr>
</table>
